:root{
    --fontv:"Vollkorn", serif;
    --fontj:"Jost", sans-serif;
}
/* ==============================
common css
============================= */
a {
    text-decoration: none;
}

.title {
    text-align: center;
}

.title h4 {
    font-size: 18px;
    font-weight: 600;
    color: #e5745d;
    font-family: "Vollkorn", serif;
    position: relative;
}

.title h4::after {
    position: absolute;
    top: 6px;
    left: 41%;
    width: 40px;
    height: 2px;
    background: #e5745d;
    content: "";
}

.title h4::before {
    position: absolute;
    top: 4px;
    left: 44%;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #e5745d;
    content: "";
}

.title h2 {
    font-size: 50px;
    font-weight: 600;
    color: #00413d;
    font-family: "Vollkorn", serif;
    width: 524px;
    margin: 0 auto;
    padding-bottom: 40px;
    padding-top: 11px;
}

.title2 {
    text-align: left;
}

.title2 h2 {
    width: auto;
}

.title2 h4 {
    margin-left: 60px;
}

.title2 h4::after {
    top: 9px;
    left: -9%;
}

.title2 h4::before {
    top: 7px;
    left: -13px;
}

ul,ol {
    list-style: none;
}

/* ==============================
common css
============================= */

/* ==============================
Navber part start
================================= */
.navbar-nav {
    column-gap: 50px;
}

.nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #00413d;
    font-family: "Jost", sans-serif;
    padding-left: 0px !important;
    padding-right: 0px !important;
    transition: 0.4s;
}

.nav-link:hover {
    color: #e5745d;
}

.navberbtn {
    background: #e5745d;
    padding: 20px 40px;
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: "Jost", sans-serif;
    position: relative;
}

.navberbtn::after {
    position: absolute;
    left: 7px;
    top: 6px;
    height: 54px;
    width: 178px;
    border: 1px solid rgb(255, 255, 255);
    content: "";
}

/* ==============================
Navber part end
================================= */

/* ==============================
Banner part start
================================= */

.banner {
    background: #00413d;
    padding: 220px 0px;
    position: relative;
    overflow: hidden;
}

.banner .overly {
    width: 40%;
    height: 100%;
    background-image: url("../images/photob.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    right: -40%;
    transition: 0.5s;
}
.animation {
    background-image: url(../images/shape.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0px;
    width: 42%;
    height: 100%;
}

.banner:hover .overly {
    right: 0;
}

.banner h1 {
    font-size: 100px;
    font-weight: 700;
    color: #fff;
    font-family: "Vollkorn", serif;
}

.banner h1 span {
    display: block;
}

.banner p {
    font-size: 20px;
    font-weight: 400;
    color: #ffffff7f;
    font-family: "Jost", sans-serif;
    width: 680px;
    padding-top: 14px;
    padding-bottom: 50px;
}

.banner p span {
    color: #ffffff;
    font-weight: 600;
}

.commonBtn {
    background: #e5745d;
    width: 180px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    position: relative;
}

.commonBtn::after {
    position: absolute;
    left: 4px;
    top: 4px;
    content: "";
    height: 56px;
    width: 172px;
    border: 1px solid white;
}

.commonBtn a {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    font-family: "Jost", sans-serif;
}

/* ==============================
Banner part end
================================= */

/* =============================
Service part start
=============================== */
.service {
    padding-top: 220px;
    padding-bottom: 120px;
}

.service .card {
    width: 100% !important;
}

.service .card img {
    width: 25%;
}

.service .card {
    padding: 50px 35px;
    border: 0;
    -webkit-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 21px -11px rgba(0, 0, 0, 0.75);

}

.service .card .card-body {
    padding: 0;
}

.service .card .card-body .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #00413d;
    font-family: "Vollkorn", serif;
    padding-top: 27px;
    padding-bottom: 15px;
}
.service .card .card-body .card-title.card3 {
    padding-top: 20px;
}

.service .card .card-body .card-text {
    font-size: 16px;
    font-weight: 400;
    color: #00413d;
    font-family: "Jost", sans-serif;
    padding-bottom: 30px;
    width: 245px;
}

.service .card .card-body i {
    font-size: 25px;
    transition: .4s;
}

.service .card:hover i {
    color: red;
}

/* =============================
Service part end
=============================== */

/* ==============================
About part Start
================================= */
.about {
    padding-bottom: 120px;
}

.aboutImage img {
    width: 100%;
    height: 100%;
}

.about p {
    font-size: 16px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    color: #00413D;
    width: 570px;
}

/* ==============================
About part end
  ================================= */

/* =============================
progesber part start
=============================== */
.progresber {
    padding-bottom: 120px;
}

.progresber .box {
    width: 280px;
    height: 280px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 32px -10px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.progresber .box .progresber_box {
    width: 167px;
    height: 167px;
    border: 8px solid #E5745D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progresber .box .progresber_box h2 {
    color: #E5745D;
    font-size: 34px;
    font-weight: 600;
    font-family: "Vollkorn", serif;
}

.progresber .box h4 {
    font-size: 24px;
    font-weight: 600;
    color: #00413d;
    font-family: "Vollkorn", serif;
}

/* =============================
progesber part end
=============================== */

/* =============================
Projects part start
=============================== */
.Projects{
    padding-bottom: 120px;
}
.Projects .title2 h4::after {
    left: -14%;
}

.Projects .topic{
    color: #E5745D;
    font-family: "Vollkorn", serif;
    font-size: 16px;
    font-weight: 500;
}

.Projects .card{
    -webkit-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 21px -11px rgba(0, 0, 0, 0.75);
}

.Projects .card-body{
    padding: 30px;
}

.Projects .card-title{
    width: 305px;
    color: #00413D;
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: 500;
    padding: 4px 0 10px;
}

.Projects .card-text{
    width: 289px;
    color: #00413D;
    font-family: "Jost", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 8px;
}

.Projects .card-case{
    width: 289px;
    color: #00413D;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.Projects .card-case i {
    position: absolute;
    top: 6px;
    left: 152px;
}
.Projects .commonBtn{
    margin: 60px auto 0px;
}
.Projects .card a:hover{
    color: #E5745D;
}
/* =============================
potfolio part end
=============================== */

/* =============================
portfolio part start
=============================== */

.title3 h4::before {
    top: 4px;
    left: 44%;
}
.portfolio .title h2 {
    padding-bottom: 24px;
}
.portfolio-ul ul{
    margin: 0 auto 40px;
    padding-left: 0;
}
.portfolio-ul li {
    color: #00413D;
    font-size: 18px;
    padding: 2px;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: 0.4s;
}
.portfolio-ul li:hover{
    border-bottom: 2px solid #E5745D;
}
.portfolio .card {
    width: 100% !important;
    position: relative;
}

.portfolio .card img{
    width: 100%;
    height: 520px;
}

.portfolio .card .card-body {
    background: #00413D;
}

.portfolio .card .card-title {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    font-family: "Vollkorn", serif;
}

.portfolio .card .card-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    font-family: "Vollkorn", serif;
}

.portfolio .card .overly {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.4s;
}

.portfolio .card .overly .round {
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 30px;
    opacity: 0;
    transition: 0.4s;
}

.portfolio .card:hover .overly .round {
    opacity: 1;
}

.portfolio .card .overly .round i {
    color: red;
    font-size: 26px;
}

.portfolio .card:hover .overly {
    opacity: 1;
    background: rgba(0, 65, 61, 0.4);
}

/* =============================
portfolio part end
=============================== */

/* ===================
testmoinal start
====================== */
.testmoinal {
    padding: 120px 0px;
    margin: 120px 0px;
    background: #F9F4F1;
}
.testmoinal .Vector-left{
    top: 0;
    left: 5%;
}
.testmoinal .Vector-right{
    top: 0;
    right: 5%;
}

.testmoinal .title h4::after {
    top: 9px;
    left: 39%;
}
.testmoinal .title h4::before {
    top: 7px;
    left: 42%;
}

.testmoinal .box1 {
    padding: 30px 40px;
    background: #fff;
    border-top: 8px solid #E5745D;
    position: relative;
}

.testmoinal .client{
    width: 74px;
    height: 74px;
    padding: 2px;
    border-radius: 50%;
    outline: 2px solid red;
    position: relative;
}
.testmoinal .client img{
    width: 95%;
    height: 98%;
    border-radius: 50%;
    position: absolute;
}
.testmoinal .client .icon {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    bottom: -16px;
    left: 21px;
}

.testmoinal .box1 .icon_iamge {
    position: absolute;
    bottom: -33px;
    left: 72px;
}

.testmoinal ul {
    margin: 0 !important;
    padding: 0 !important;
}

.testmoinal .dot-box {
    bottom: -60px;
    left: 48%;
}

.testmoinal .dot{
    width: 0px;
    height: 16px;
    border-radius: 50%;
    background: #D9D9D9;
}
/* ===================
testmoinal end
====================== */

/* =============
contact start
================ */
.contact{
    position: relative;
}
.contact .container img {
    width: 100%;
    height: 586px;
    -webkit-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 7px 21px -21px rgba(0, 0, 0, 0.75);
}
.contact .annimation {
    position: absolute;
    right: 1%;
    top: 26%;
    
}
.contact .annimation img{
    width: 100%;
    height: 100%;
}

.contact .title2 h4::before {
    left: -23px;
}
.contact .input_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
    padding-bottom: 50px;
}

.contact .input {
    width: 46%;
    padding: 12px 10px;
    border: 0px;
    border-bottom: 1px solid rgba(0, 65, 61, 0.1);
    outline: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    font-family: "Jost", sans-serif;
}

.contact .input::placeholder {
    font-size: 18px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
}

.contact .input5 {
    width: 100%;
}
/* =================
contact end
==================== */

/* ================
Blog start
===================== */
.blog{
    margin: 120px auto;
}
.blog .topic{
    font-size: 14px;
    font-weight: 400;
    color: #E5745D;
    font-family: "Jost", sans-serif;
}
.blog .date{
    font-size: 14px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
}
.blog .card .card-body{
    padding: 30px;
}
.blog .card .card-title{
    width: 280px;
    font-size: 24px;
    font-weight: 500;
    color: #00413D;
    line-height: 30px;
    font-family: "Vollkorn", serif;
    padding-bottom: 3px;
}
.blog .card .card-text {
    width: 320px;
    font-size: 16px;
    font-weight: 400;
    color: #00413D;
    font-family: "Jost", sans-serif;
    line-height: 24px;
    padding-bottom: 8px;
}
.blog .card-case{
    width: 289px;
    color: #00413D;
    font-family: "Jost", sans-serif;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.blog .card-case i {
    position: absolute;
    top: 6px;
    left: 92px;
}
.blog .card a:hover{
    color: #E5745D;
}
/* ================
Blog end
===================== */

/* ================
Footer start
===================== */

.footer {
    background: #00413D;
    padding: 80px 0px;
    text-align: center;
}

.footer .ulOne {
    padding: 40px 0px;
}

.footer .ulOne ul li {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    font-family: "Jost", sans-serif;
    border-right: 2px solid rgba(255, 255, 255, 0.10);
    padding-right: 33px;
}

.footer .ulOne ul .lastLI {
    border-right: 0;
}

.footer .ulTwo ul li i {
    color: white;
    background: #E5745D;
    padding: 17px;
    border-radius: 50%;
    font-size: 24px;
}
.footer .ulTwo ul{
    padding-left: 0 !important;
}


/* ===================
Footer end
====================== */

/* ===================
copy staet
====================== */
.copy {
    background: #00413D;
    text-align: center;
}

.copy p {
    width: 1400px;
    border-top: 1px solid rgba(245, 245, 245, 0.10);
    padding: 30px 0px;
    margin: 0 auto;
    color: rgba(245, 245, 245, 0.10);
}
/* ===================
copy end
====================== */